<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title>
    <!-- Linking CSS  -->
    <link rel="stylesheet" href="/stylesheets/usersBookings.css" />
    <link rel="stylesheet" href="/stylesheets/adminpannel.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <!-- font-awesome  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <div class="container">
      <h1 class="heading">Admin Pannel</h1>

      <!-- This will only see in desktop sites  -->
      <nav class="nav">
        <a href="/admin">Set New Destination</a>
        <a href="/users">See Users</a>
        <a href="/usersBooking">Check Bookings</a>
      </nav>

      <hr />

      <div class="all-containers">
        <% if(bookings.length> 0){ %> <% bookings.forEach((booking)=> { %>
        <!-- one booking  -->
        <div class="booking-container">
          <!-- name  -->
          <div class="one-row">
            <p>Name</p>
            <span><%= booking.customerName %></span>
          </div>

          <!-- email  -->
          <div class="one-row">
            <p>Email</p>
            <span><%= booking.customerEmail %></span>
          </div>

          <!-- mobile No  -->
          <div class="one-row">
            <p>Mobile No</p>
            <span><%= booking.mobileNo %></span>
          </div>

          <!-- total persons No  -->
          <div class="one-row">
            <p>Persons</p>
            <span><%= booking.totalPerson %></span>
          </div>

          <!-- Destination  -->
          <div class="one-row">
            <p>Destination</p>
            <div>
              <p><%= booking.from %></p>
              To
              <p><%= booking.where %></p>
            </div>
          </div>

          <a href="/removeBooking/<%= booking._id %>">Delete</a>
        </div>
        <% }) %> <% } %>
      </div>
    </div>
  </body>
</html>
